<div class ="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-8 mx-5 mx-sm-auto text-center shadow-lg rounded px-0 my-4">
      <h3 class ="text-light bg-dark py-3 mb-0">いいね一覧</h3>

       <div class ="col-md-10 offset-md-1">
       <table class ="table table-hover">
        <thead>
         <tr>
          <th></th>
          <th>タイトル</th>
          <th>本文</th>
         </tr>
        </thead>
        <tbody>
          <% @favorites.each do |favorite| %>
          <tr>
          <td>
            <%= image_tag favorite.comment.user.get_profile_image(100,100) %>
            <%= link_to comment_path(favorite.comment.id) do%>
              <p><%= favorite.comment.user.name %></p>
            <% end %>
          </td>
          <td>
            <%= link_to comment_path(favorite.comment.id) do%>
             <%= favorite.comment.title %>
            <% end %>
          </td>
          <td>
            <%= favorite.comment.body %>
          </td>
          </tr>
         <% end %>

         </div>

        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>