<h1>投稿一覧</h1>

<% @comments.each do |comment| %>

  <div>
    <%= image_tag comment.user.get_profile_image(100,100) %>
    <%= link_to comment_path(comment.id) do%>
      <P>タイトル:<%= comment.title %></p>
    <% end %>
    <p>コメント: <%= comment.body %></p>
    <p>投稿者：<%= comment.user.name %></p>
    <p><%= link_to "#{comment.responses.count}件の返信", comment_path(comment.id) %></p>
  </div>

<% end %>
