<h1>投稿詳細</h1>

<div>
  <p>投稿者：<%= @comment.user.name %></p>
  <p>タイトル：<%= @comment.title %></p>
  <p>本文：<%= @comment.body %></p>
  <p>投稿日：<%= @comment.created_at.strftime('%Y/%m/%d')%></p>
  <% if @comment.user == current_user %>
    <%= link_to "編集する", edit_comment_path(@comment.id) %>
    <%= link_to "削除する", comment_path(@comment.id), method: :delete %>
  <% end %>
  <% if @comment.favorited_by?(current_user) %>
    <p>
      <%= link_to comment_favorite_path(@comment), method: :delete do %>
        ♥<%= @comment.favorites.count %>いいね
      <% end %>
    </p>
      <% else %>
    <p>
      <%= link_to comment_favorite_path(@comment), method: :post do %>
        ♡<%= @comment.favorites.count %>いいね
      <% end %>
    </p>
  <% end %>
</div>

<!--以下、responseに関するコード-->
<div>
  <p>返信件数:<%= @comment.responses.count %>件</p>
  <% @comment.responses.each do |response| %>
    <%= image_tag response.user.get_profile_image(100,100) %>
    <%= response.user.name %>
    <%= response.created_at.strftime('%Y/%m/%d') %>
    <% if response.user == current_user %>
      <%= link_to "削除する", comment_response_path(response.comment, response), method: :delete %>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_with model: [@comment, @response] do |f| %>
    <%= f.text_area :response, rows: '5', placeholder:"返信はここへ記入" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>