<h1>マイページ</h1>

<!--user show（ユーザーの詳細）-->
<div>
  <h3><%= @user.name%></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィールを編集する", edit_user_path %></p>
  <% end %>
</div>

<!--いいね一覧へ-->
<div>
  <%= link_to "いいね一覧", comment_favorites_path(comment_id: @comments.first.id) if @comments.present?  %>
</div>

<!--user comment index（ユーザーの投稿一覧）-->
<% @comments.each do |comment| %>
  <div>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <p>タイトル：<%= comment.title %></p>
    <p>本文：<%= comment.body %></p>
    <p><%= link_to "#{comment.responses.count}件の返信", comment_path(comment.id) %></p>
  </div>
<% end %>

<%= paginate @comments %>