<div class ="container-fluid">
  <div class="row no-gutters">
    <div class="col-md-8 mx-5 mx-sm-auto text-center shadow-lg rounded px-0 my-4">
      <h3 class ="text-light bg-dark py-3 mb-0">検索結果</h3>

        <div class="row">
          <div class ="col-md-9 mx-3">
  
           <table class ="table table-bordered">
              <thead>
               <tr>
                <th></th>
                <th>タイトル</th>
                <th>本文</th>
               </tr>
              </thead>

            <!--モデルがUserの時 -->
            <% if @range == "User" %>
              <tbody>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                </tr>
              <% end %>
              </tbody>
             <% else %>
           
            <!--モデルがUserではない時(Commentの時) -->              
              <tbody>
                <% @comments.each do |comment| %>
                <tr>
                  <td>
                    <%= image_tag comment.user.get_profile_image(100,100) %><br>
                    <%= link_to user_path(comment.user) do %>
                    <%= comment.user.name %>
                    <% end %>
                  </td>
                  <td><%= comment.title %></td>
                  <td><%= comment.body %></td>
                </tr>
                 <% end %>
              </tbody>
            <% end %>
            
          </table>

      </div>
    </div>
  </div>
</div>
